include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Расщепление смерти',
      'В моменты бессилия нет-нет, да позавидуешь средневековому обывателю. Как рыбка в аквариуме не осознаёт границ собственной несвободы, так и средневековый обыватель не мучился от экзистенциального кризиса, полностью полагаясь в вопросах жизни и смерти на священное писание, церковь и сюзерена…',
      'http://soshnikov.space/img/mokhov-death-history-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/mokhov-death-history.md