include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'О шуме',
      'Неделю из головы не выходит слух, что Гузель Яхина снимает отдельную квартиру, в которой пишет книги и даёт интервью. Мне не поёрничать хочется (те, кто живут в картонных путинках, Яхину прекрасно понимают), мне не даёт покоя война шума и прозы, которая длится уже несколько сотен лет — и писатели в ней неизменно проигрывают…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/noise.md