mixin pagination(activePage)
    div.pagination
        if activePage === 'umwelt'
            a(href="articles.html").pagination__year всё подряд
            a(href="chernotrop.html").pagination__year чернотроп
            a(href="umwelt.html")(class="pagination__year pagination__year_active") umwelt
            a(href="diary.html").pagination__year писательский дневник
        else if activePage === 'chernotrop'
            a(href="articles.html").pagination__year всё подряд
            a(href="chernotrop.html")(class="pagination__year pagination__year_active") чернотроп
            a(href="umwelt.html").pagination__year umwelt
            a(href="diary.html").pagination__year писательский дневник
        else if activePage === 'diary'
            a(href="articles.html").pagination__year всё подряд
            a(href="chernotrop.html").pagination__year чернотроп
            a(href="umwelt.html").pagination__year umwelt
            a(href="diary.html")(class="pagination__year pagination__year_active") писательский дневник
        else
            a(href="articles.html")(class="pagination__year pagination__year_active") всё подряд
            a(href="chernotrop.html").pagination__year чернотроп
            a(href="umwelt.html").pagination__year umwelt
            a(href="diary.html").pagination__year писательский дневник

mixin writingTags(activePage)
    div.pagination
        if activePage === 'novels'
            a(href="writing.html").pagination__year всё вместе
            //a(href="novels.html")(class="pagination__year pagination__year_active").pagination__year романы
            a(href="novelettes.html").pagination__year повести
            a(href="stories.html") рассказы
        else if activePage === 'novelettes'
            a(href="writing.html").pagination__year всё вместе
            //a(href="novels.html").pagination__year романы
            a(href="novelettes.html")(class="pagination__year pagination__year_active").pagination__year повести
            a(href="stories.html") рассказы
        else if activePage === 'stories'
            a(href="writing.html").pagination__year всё вместе
            //a(href="novels.html").pagination__year романы
            a(href="novelettes.html").pagination__year повести
            a(href="stories.html")(class="pagination__year pagination__year_active") рассказы
        else
            a(href="writing.html")(class="pagination__year pagination__year_active").pagination__year всё вместе
            //a(href="novels.html").pagination__year романы
            a(href="novelettes.html").pagination__year повести
            a(href="stories.html") рассказы