mixin pagination(activePage)
    div.pagination
        if activePage === 'umwelt'
            a.pagination__year(href="articles.html") все статьи
            a.pagination__year(href="chernotrop.html") чернотроп
            a.pagination__year.pagination__year_active(href="umwelt.html") umwelt
            a.pagination__year(href="cherry-esse.html") черри-эссе
        else if activePage === 'chernotrop'
            a.pagination__year(href="articles.html") все статьи
            a.pagination__year.pagination__year_active(href="chernotrop.html") чернотроп
            a.pagination__year(href="umwelt.html") umwelt
            a.pagination__year(href="cherry-esse.html") черри-эссе
        else if activePage === 'diary'
            a.pagination__year(href="articles.html") все статьи
            a.pagination__year(href="chernotrop.html") чернотроп
            a.pagination__year(href="umwelt.html") umwelt
            a.pagination__year.pagination__year_active(href="cherry-esse.html") черри-эссе
        else
            a.pagination__year.pagination__year_active(href="articles.html") все статьи
            a(href="chernotrop.html").pagination__year чернотроп
            a(href="umwelt.html").pagination__year umwelt
            a(href="cherry-esse.html").pagination__year черри-эссе

mixin writingTags(activePage)
    div.pagination
        if activePage === 'novels'
            a.pagination__year(href="writing.html") всё вместе
            //a.pagination__year.pagination__year_active(href="novels.html") романы
            a.pagination__year(href="novelettes.html") повести
            a.pagination__year(href="stories.html") рассказы
        else if activePage === 'novelettes'
            a.pagination__year(href="writing.html") всё вместе
            //a.pagination__year(href="novels.html") романы
            a.pagination__year.pagination__year_active(href="novelettes.html") повести
            a.pagination__year(href="stories.html") рассказы
        else if activePage === 'stories'
            a.pagination__year(href="writing.html") всё вместе
            //a.pagination__year(href="novels.html") романы
            a.pagination__year(href="novelettes.html") повести
            a.pagination__year.pagination__year_active(href="stories.html") рассказы
        else
            a.pagination__year.pagination__year_active(href="writing.html") всё вместе
            //a.pagination__year(href="novels.html") романы
            a.pagination__year(href="novelettes.html") повести
            a.pagination__year(href="stories.html") рассказы