.pagination {
  grid-column-end: 21;
  grid-row-start: 1;
  
  @include col100(0);
  font: $groteskMain;
  flex-wrap: nowrap;
  
  @include respond(mobile) {
    @include col100(0);
    font: $groteskMain;
    overflow: scroll;
  }
  
  &__year {
    @include colauto(0 48px 0 0, column, center);
    
    @include respond(mobile) {
      @include colauto(0 24px 0 0, column, center);
    }
    
    &_active {
      color: $white;
      @include colauto(0 48px 0 0);
      border-radius: 30px;
      cursor: default;

      @include respond(mobile) {
        @include colauto(0 24px 0 0, column, center);
      }
    }
  }
}
