mixin pagination(activePage)
    div.pagination
        if activePage === 'all'
            a.pagination__year.pagination__year_active(href="articles.html") рецензии
            a.pagination__year(href="cherry-esse.html") черри-эссе
        else if activePage === 'diary'
            a.pagination__year(href="articles.html") рецензии
            a.pagination__year.pagination__year_active(href="cherry-esse.html") черри-эссе
mixin writingTags(activePage)
    div.pagination
        if activePage === 'stories'
            a.pagination__year.pagination__year_active(href="stories.html") рассказы
            a.pagination__year(href="novelettes.html") повести
        else
            a.pagination__year(href="stories.html") рассказы
            a.pagination__year.pagination__year_active(href="novelettes.html") повести