include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Шаламов и постмодерн',
      '​​К чему я вообще увяз в болоте пост- и метамодернизма, а заодно впутал и вас? Всё, на самом деле, просто: то, что постулируют новые реалисты, удивительным образом предвосхитил русский писатель Варлам Шаламов ещё полвека назад…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/shalamov-and-postmodern.md