include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Фэйс моей юности',
      'Фэйс моей юности выглядел иначе. Я не ходил к нему на концерты — я заявлялся к нему на митинги. Фэйс не носил дамское каре и очки Гуччи, он ходил в неприметной рубашке и коротко стриг волосы. Да и татуировок у него практически не было… Разве только армейские, надёжно спрятанные где-нибудь под одеждой, потому как на заметных частях тела — не положено…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/my-face.md