include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Китайский Хэм',
      '​​А вообще у «Искусства кино» довольно любопытная литературная рубрика. Долго собирался и прочёл-таки в №5/6 рассказы китайского писателя и режиссёра Ху Бо, чей фильм «Слон сидит спокойно» показывали в столице в октябре прошлого года.',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/hu-bo.md