include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Ревью в квадрате',
      'Что ни говори, а бумажное издание порождает совершенно иные ощущения. Дочитал первый номер цветной литературной газеты «Logos Review of Books», получил натурально физическое удовольствие…',
      'http://soshnikov.space/img/lrb-01-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/logos-review-of-books-1.md