include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • чернотроп',
      'литературный марафон по русской народной прозе от гоголя до новых реалистов',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('chernotrop')
        div.articles__content
             p 
                | Литературный марафон по русской народной прозе от гоголя до новых реалистов. Вы можете следить за обновлениями этой рубрики в телеграм-канале 
                a(href="http://t.me/blacktrope") «Чернотроп».
        div.list
            +list-header('19 век', 'dark')
            +bookCard('http://chernotrop.reviews/img/pogodin-stories-preview.jpg', 'Любовь и горе в прозе Михаила Погодина', 'М.Погодин, рассказы и повести', 'Страдания крестьян, протофем-экшн и невозможность любви — в шести рассказах бывшего крепостного, доросшего до тайного советника Николая I', 'http://chernotrop.reviews/pogodin-stories')
            +bookCard('http://chernotrop.reviews/img/how-dare-idiot-preview.jpg', 'Да как ты смеешь?! «Идиот» Фёдора Достоевского', 'Ф.Достоевский «Идиот», 1868', 'Князь Мышкин — герой волны неоромантизма, которая скоро придёт в Россию. Но сам роман читать не будут', 'http://chernotrop.reviews/how-dare-idiot')
            +bookCard('http://chernotrop.reviews/img/how-dare-karenina-preview.jpg', 'Да как ты смеешь?! «Анна Каренина» Льва Толстого', 'Л.Толстой «Анна Каренина», 1873', 'Время идёт, роман по-прежнему не оставляет читателей равнодушными. Про Левина потихоньку забывают', 'http://chernotrop.reviews/how-dare-karenina')
            +bookCard('http://chernotrop.reviews/img/section-pogodin.png', 'Русская молодёжь одержима путешествиями?', 'Н.Полевой, рассказы', 'Артём Сошников рассказывает на примере прозы Николая Полевого, почему вам порой тошно заглядывать в Инстаграм', 'http://chernotrop.reviews/selfie-vs-sword')
            
            +list-header('20 век', 'dark')
            +bookCard('http://chernotrop.reviews/img/mikhalik-comet-cover.jpg', 'Ревизия Шаламова', 'Е.Михайлик «Незаконная комета», 2018', 'Филолог Елена Михайлик заново открыла нам творчество Варлама Шаламова. Оказывается, он не просто хроникёр тоталитарного ада', 'http://chernotrop.reviews/mikhalik-comet')
            +bookCard('http://chernotrop.reviews/img/carrots-portrait.jpg', '«Мне просто всё обрыдло»', 'Борис Рыжий «Роттердамский дневник», 2003', 'Артём Сошников рассказывает через личную историю европейского путешествия, где и зачем читать «Роттердамский дневник» Бориса Рыжего', 'http://chernotrop.reviews/carrots-rotterdam')
            
            +list-header('21 век', 'dark')
            +bookCard('http://chernotrop.reviews/img/ivanov-tobol-cover.jpg', '1430 страниц равнодушия', 'Алексей Иванов «Тобол», 2019', 'Почему, несмотря на хорошо проделанную работу, дилогию Алексея Иванова дочитают не все', 'http://chernotrop.reviews/ivanov-tobol')
            +bookCard('http://chernotrop.reviews/img/buksha-churov-i-churbanov-cover.jpg', 'Попытаться стоило', 'Ксения Букша «Чуров и Чурбанов», 2020', 'Ксении Букше снова не покорился сюжет, но прежние таланты остались при ней', 'http://chernotrop.reviews/buksha-churov-i-churbanov')
            +bookCard('http://chernotrop.reviews/img/salnikov-oposredovanno-cover.jpg', 'Вылизан, но', 'Алексей Сальников «Опосредованно», 2019', 'О том, как желание угодить читателю испортило новый роман Алексея Сальникова', 'http://chernotrop.reviews/salnikov-oposredovanno')
            +bookCard('http://chernotrop.reviews/img/senchin-paris-cover.jpg', 'Герои Сенчина не хотят гулять по Парижу', 'Роман Сенчин «Дождь в Париже», 2018', 'Они хотят ныть, бухать и работать охранниками в Магните. Нам нужно с ними что-то делать', 'http://chernotrop.reviews/senchin-paris')
            +bookCard('http://chernotrop.reviews/img/ivanov-foodunit-cover.jpg', 'Нет, не о вампирах', 'Алексей Иванов «Пищеблок», 2019', 'О новом романе Алексея Иванова «Пищеблок», его надуровнях и скрытой под вампирской тематикой морали', 'http://chernotrop.reviews/ivanov-foodunit')
            +bookCard('http://chernotrop.reviews/img/petrovsky-darling-cover.jpg', 'Дорогая, я дома', 'Дмитрий Петровский «Дорогая, я дома», 2018', 'О романе евроскептика и русского националиста Дмитрия Петровского', 'http://chernotrop.reviews/petrovsky-darling')
            +bookCard('http://chernotrop.reviews/img/navalny-three-and-a-half-cover.jpg', 'Селеба за решёткой', 'Олег Навальный «Три с половиной. С арестантским уважением и братским теплом», 2018', 'Сказ о том, как и зачем разглядывать за брендом семьи Навальных литературный талант младшего брата', 'http://chernotrop.reviews/navalny-three-and-a-half')
            +bookCard('http://chernotrop.reviews/img/meshchaninova-stories-cover.jpg', 'Справитесь и вы', 'Наталия Мещининова «Рассказы», 2017', 'Пронзительные рассказы Наталии Мещаниновой вселяют в людей не только ужас, но и надежду', 'http://chernotrop.reviews/meshchaninova-stories')
            +bookCard('http://chernotrop.reviews/img/buksha-is-opened-inside-cover.jpg', 'Апостол юга Петербурга', 'Ксения Букша «Открывается внутрь», 2018', 'О сборнике рассказов Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы', 'http://chernotrop.reviews/buksha-is-opened-inside')
            +bookCard('http://chernotrop.reviews/img/nosov-square-cover.jpg', 'Игнор сборника на книжной полке', 'Сергей Носов «Построение квадрата на шестом уроке», 2018', 'Почему свежий сборник рассказов Сергея Носова не заметили?', 'http://chernotrop.reviews/nosov-square')
            +bookCard('http://chernotrop.reviews/img/salnikov-department-cover.jpg', 'Отдел', 'Алексей Сальников «Отдел», 2018', 'Первый роман Алексея Сальникова удивительным образом вышел только после второго', 'http://chernotrop.reviews/salnikov-department')
            +bookCard('http://chernotrop.reviews/img/senchin-tenant-cover.jpg', 'Обновление Сенчина', 'Роман Сенчин «Квартирантка с двумя детьми», 2018', 'В новом сборнике Роман Сенчин пробует раскрыться с иной стороны, но спотыкается о собственный писательский мир', 'http://chernotrop.reviews/senchin-tenant')