include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • чернотроп',
      'литературный марафон по русской народной прозе от гоголя до новых реалистов',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('chernotrop')
        div.articles__content
             p 
                | Литературный марафон по русской народной прозе от гоголя до новых реалистов. Вы можете следить за обновлениями этой рубрики в телеграм-канале 
                a(href="http://t.me/blacktrope") «Чернотроп».
        div.list
            +list-header('19 век', 'dark')
            +bookCard('Любовь и горе в прозе Михаила Погодина', '', 'pogodin.html')

