include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      '«Мне просто всё обрыдло»',
      'Артём Сошников рассказывает через личную историю европейского путешествия, где и зачем читать «Роттердамский дневник» Бориса Рыжего',
      'http://soshnikov.space/img/carrots-rotterdam-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/carrots-rotterdam.md