include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — владимир тимурович',
      'пятый эпизод повести «дорогие петербуржцы»',
      'http://soshnikov-writing.art/img/dear-citizens-og-5.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            +article-breadcrumb('дорогие петербуржцы', 'dear-citizens')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/novels/dear-citizens/05-timurich.md
            div.article__next
                a(href="dear-citizens.html#connotation") ← вернуться в содержание

