include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Поддаться, чтобы победить',
      'Артём Сошников рассказывает о трёх романах Булата Ханова, в которых казанский писатель ловко обходит избитые темы и освежает закисшие типажи. Правда, мутную актуальность побороть пока не удалось…',
      'http://soshnikov.space/img/khanov-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/khanov.md