include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Белинский — Ванга',
      'Мы люди деловые, мы беспрестанно суетимся, хлопочем, мы дорожим временем, нам некогда читать больших и длинных книг…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/belinski-vanga.md