include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Познакомился с прозой Cенчина',
      'В этом году нередко слышал хвалебные отзывы о писателе Романе Сенчине, причём, от людей, разбирающихся в литературе. Чаще всего Романа характеризовали как самобытного и перспективного писателя…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2017/senchin-ice.md