include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Герои Сенчина не хотят гулять по Парижу',
      'Они хотят ныть, бухать и работать охранниками в Магните. Нам нужно с ними что-то делать',
      'http://soshnikov.space/img/senchin-paris-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/senchin-paris.md