include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'За что уважать Льва Данилкина​​',
      'Так уж сложилось, что у меня никогда не было кумиров. Я, может, и хотел бы слепо подражать Саше Васильеву или Сергею Бодрову, но в подростковом возрасте увлёкся православием…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/danilkin-story.md