.articles {
  &__tabs {
    grid-row-start: 2;
  }

  &__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col50(24px 32px 16px 32px, column);
    color: $white;
    font: $fontMain;

    p {
      margin: 0;
    }

    @include respond(mobile) {
      @include col100(24px 24px 24px 24px, column);
    }
  }
}