.articles {
  &__tabs {
    grid-row-start: 2;
  }

  &__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col50(48px 32px 32px 32px, column);
    color: $white;
    font: $groteskMain;

    @include respond(mobile) {
      @include col100(24px 24px 24px 24px, column);
    }
  }
}