include ../../components/head/head
include ../../components/header/header
include ../../components/pagination/pagination

include ../../components/list-header/list-header
include ../../components/book-card/book-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • публицистика',
      'Здесь собраны все мои нехудожественные тексты в хронологическом порядке',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'articles')
    div#articles
        div#articles-headline
            h2 публицистика
        div#articles-tabs
            +pagination('all')
        div#articles-desc
             p Здесь собраны все мои нехудожественные тексты в хронологическом порядке. В рубрике «Чернотроп» я рассказываю о примечательной народной прозе от Гоголя до новых реалистов. «Umwelt» — своеобразный читательский дневник, посвящённый нонфикшн-литературе о проблемах современного мира. В дневнике я ною, как в твиттере и размышляю о жизни, любви и смерти
        div#articles-content
            div.list
                +list-header('2020', 'dark')
                +bookCard('рассказы разных бед', 'то, что нужно было просто пережить', 'misfortunes.html')

