include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • публицистика',
      'Здесь собраны все мои нехудожественные тексты в хронологическом порядке',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'articles')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('all')
        div.articles__content
             p Здесь собраны все мои нехудожественные тексты в хронологическом порядке. В рубрике «Чернотроп» я рассказываю о примечательной народной прозе от Гоголя до новых реалистов. «Umwelt» — своеобразный читательский дневник, посвящённый нонфикшн-литературе о проблемах современного мира.
            +list-header('2020', 'dark')
            +bookCard(
                'В каждый город, в каждый книжный',
                'Umwelt',
                '«Слово пацана» Роберта Гараева — тот случай, когда острая тема перевешивает и огрехи структуры, и мозаичность повествования, и вообще всё',
                'Роберт Гараев «Слово пацана. Криминальный Татарстан 1970-2010-х»',
                'http://umwelt-books.ru/garaev-chavs'
            )
            +bookCard(
                'Ревью в квадрате',
                'Umwelt',
                'Знаменитый философский журнал «Логос» начал выпускать рецензионное приложение, вызывающее не только эстетическое, но и натурально физическое удовольствие',
                ' Журнал «Логос», «Logos Review of Books» №1',
                'http://umwelt-books.ru/lrb-01'
            )
            +bookCard(
                'Расщепление смерти',
                'Umwelt',
                'Сергей Мохов снова написал книгу о смерти — и на этот раз её важность оценят не только знакомые с death studies читатели. По-хорошему, «Историю смерти» стоит прочесть каждому',
                'Сергей Мохов «История смерти. Как мы боремся и принимаем»',
                'http://umwelt-books.ru/mokhov-death-history'
            )
            +bookCard(
                'Любовь и горе в прозе Михаила Погодина', 
                'Чернотроп',
                'Страдания крестьян, протофем-экшн и невозможность любви — в шести рассказах бывшего крепостного, доросшего до тайного советника Николая Первого', 
                'М.Погодин, рассказы и повести',
                'http://chernotrop.reviews/pogodin-stories'
            )
            +bookCard(
                '​Что нас ждет, когда нефть кончится?',
                'Umwelt × Rara Avis',
                'Артём Сошников — о поведенческой экономике, теории свободного рынка и капитализме платформ',
                'К.Сонин «Когда кончится нефть и другие уроки экономики» / Р.Талер «Новая поведенческая экономика» / Н.Срничек «Капитализм платформ»',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )
            +bookCard(
                'Привал, сезон первый',
                'Чернотроп',
                'Десять недель телеграм-канал «Чернотроп» советовал вам по одному реалистическому рассказу, достойному внимания',
                '',
                'http://chernotrop.reviews/pogodin-stories'
            )
            +bookCard(
                '1430 страниц равнодушия',
                'Чернотроп',
                'Почему, несмотря на хорошо проделанную работу, дилогию Алексея Иванова дочитают не все',
                'Алексей Иванов «Тобол», 2019',
                'http://chernotrop.reviews/ivanov-tobol'
            )
            +bookCard(
                'Попытаться стоило',
                'Чернотроп',
                'Ксении Букше снова не покорился сюжет, но прежние таланты остались при ней',
                'Ксения Букша «Чуров и Чурбанов», 2020',
                'http://chernotrop.reviews/buksha-churov-i-churbanov'
            )
            +bookCard(
                'Да как ты смеешь?! «Идиот» Фёдора Достоевского',
                'Чернотроп',
                'Князь Мышкин — герой волны неоромантизма, которая скоро придёт в Россию. Но сам роман читать не будут', 
                'Ф.Достоевский «Идиот», 1868',
                'http://chernotrop.reviews/how-dare-idiot'
            )


            +list-header('2019', 'dark')
            +bookCard(
                'Вылизан, но',
                'Чернотроп',
                'О том, как желание угодить читателю испортило новый роман Алексея Сальникова',
                'Алексей Сальников «Опосредованно», 2019',
                'http://chernotrop.reviews/salnikov-oposredovanno'
            )
            +bookCard(
                'Да как ты смеешь?! «Анна Каренина» Льва Толстого',
                'Чернотроп',
                'Время идёт, роман по-прежнему не оставляет читателей равнодушными. Про Левина потихоньку забывают',
                'Л.Толстой «Анна Каренина», 1873',
                'http://chernotrop.reviews/how-dare-karenina'
            )
            +bookCard(
                'Русская молодёжь одержима путешествиями?',
                'Чернотроп',
                'Артём Сошников рассказывает на примере прозы Николая Полевого, почему вам порой тошно заглядывать в Инстаграм',
                'Н.Полевой, рассказы',
                'http://chernotrop.reviews/selfie-vs-sword'
            )
            +bookCard(
                '«Мне просто всё обрыдло»',
                'Чернотроп',
                'Артём Сошников рассказывает через личную историю европейского путешествия, где и зачем читать «Роттердамский дневник» Бориса Рыжего',
                'Борис Рыжий «Роттердамский дневник», 2003',
                'http://chernotrop.reviews/carrots-rotterdam'
            )
            +bookCard(
                'Герои Сенчина не хотят гулять по Парижу',
                'Чернотроп',
                'Они хотят ныть, бухать и работать охранниками в Магните. Нам нужно с ними что-то делать',
                'Роман Сенчин «Дождь в Париже», 2018',
                'http://chernotrop.reviews/senchin-paris'
            )
            +bookCard(
                'Нет, не о вампирах',
                'Чернотроп',
                'О новом романе Алексея Иванова «Пищеблок», его надуровнях и скрытой под вампирской тематикой морали',
                'Алексей Иванов «Пищеблок», 2019',
                'http://chernotrop.reviews/ivanov-foodunit'
            )
            +bookCard(
                'Дорогая, я дома',
                'Чернотроп',
                'О романе евроскептика и русского националиста Дмитрия Петровского',
                'Дмитрий Петровский «Дорогая, я дома», 2018',
                'http://chernotrop.reviews/petrovsky-darling'
            )
            +bookCard(
                '​Профессионалам тут не место',
                'Umwelt × Rara Avis',
                '«О новой книге Энди Мерифилда, тяге к любительству и политической подоплеке рассказывает Артем Сошников»',
                'Э. Мерифилд «Любитель. Искусство делать то, что любишь», 2018',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )
            +bookCard(
                '​До и после смерти',
                'Umwelt × Rara Avis',
                '«О чем на самом деле рассказывают современные книги про смерть, пишет обозреватель Rara Avis Артем Сошников»',
                'C. Мохов «Рождение и смерть похоронной индустрии», 2018 / А.Гаванде «Все мы смертны», 2018',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )


            +list-header('2018', 'dark')
            +bookCard(
                'Ревизия Шаламова',
                'Чернотроп',
                'Филолог Елена Михайлик заново открыла нам творчество Варлама Шаламова. Оказывается, он не просто хроникёр тоталитарного ада',
                'Е.Михайлик «Незаконная комета», 2018',
                'http://chernotrop.reviews/mikhalik-comet'
            )
            +bookCard(
                'Селеба за решёткой',
                'Чернотроп',
                'Сказ о том, как и зачем разглядывать за брендом семьи Навальных литературный талант младшего брата',
                'Олег Навальный «Три с половиной. С арестантским уважением и братским теплом», 2018',
                'http://chernotrop.reviews/navalny-three-and-a-half'
            )
            +bookCard( 
                'Справитесь и вы',
                'Чернотроп',
                'Пронзительные рассказы Наталии Мещаниновой вселяют в людей не только ужас, но и надежду',
                'Наталия Мещининова «Рассказы», 2017',
                'http://chernotrop.reviews/meshchaninova-stories'
            )
            +bookCard(
                'Балет рабочего класса',
                'Umwelt',
                'Об актуальном эссе Саймона Кричли, в котором философ пытается докопаться до сути популярности футбола',
                'Саймон Кричли, «О чем мы думаем, когда думаем о футболе»',
                'http://umwelt-books.ru/critchley-football'
            )
            +bookCard(
                'Апостол юга Петербурга',
                'Чернотроп',
                'О сборнике рассказов Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы',
                'Ксения Букша «Открывается внутрь», 2018',
                'http://chernotrop.reviews/buksha-is-opened-inside'
            )
            +bookCard(
                'Страх неизбежен',
                'Umwelt',
                'О труде Саймона Кричли, желающего преодолеть страх смерти',
                'Саймон Кричли «Книга мёртвых философов»',
                'http://umwelt-books.ru/critchley-dead-sophists'
            )
            +bookCard(
                'Игнор сборника на книжной полке',
                'Чернотроп',
                'Почему свежий сборник рассказов Сергея Носова не заметили?',
                'Сергей Носов «Построение квадрата на шестом уроке», 2018',
                'http://chernotrop.reviews/nosov-square'
            )
            +bookCard(
                'Отдел',
                'Чернотроп',
                'Первый роман Алексея Сальникова удивительным образом вышел только после второго',
                'Алексей Сальников «Отдел», 2018',
                'http://chernotrop.reviews/salnikov-department'
            )
            +bookCard( 
                'Обновление Сенчина',
                'Чернотроп',
                'В новом сборнике Роман Сенчин пробует раскрыться с иной стороны, но спотыкается о собственный писательский мир',
                'Роман Сенчин «Квартирантка с двумя детьми», 2018',
                'http://chernotrop.reviews/senchin-tenant'
            )
            +bookCard(
                'Такие выборы нам не нужны',
                'Umwelt',
                'Как выглядит отличное пособие по преодолению неэффективной выборной системы',
                'Давид ван Рейбрук «Против выборов»',
                'http://umwelt-books.ru/van-reybrouck-against-elections'
            )


