include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — уроборос — чужие беды',
      'из цикла «чужие беды»',
      'http://soshnikov-writing.art/img/not-mine-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('чужие беды', 'not-mine')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/not-mine/uroboros.md
            div.story__next
                a(href="winger.html") читать следующий рассказ «вингер» →
                a(href="not-mine.html#connotation") ← вернуться в содержание

