include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'да как ты смеешь?! «идиот» фёдора достоевского',
      'Князь Мышкин — герой волны неоромантизма, которая скоро придёт в Россию. Но сам роман читать не будут.',
      'http://soshnikov.space/img/how-dare-idiot-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/how-dare-idiot.md