include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — рассказ «верблюд» — чужие беды',
      'из цикла «чужие беды»',
      'http://soshnikov-writing.art/img/camel-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            +article-breadcrumb('чужие беды', 'not-mine')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/camel.md
            div.article__next
                a(href="not-mine.html#connotation") ← вернуться в содержание
