include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Cошников — Рассказ «Верблюд»',
      'Из цикла «Чужие беды»',
      'http://soshnikov.space/img/camel-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('чужие беды', 'not-mine')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/not-mine/camel.md
            div.story__next
                a(href="not-mine.html#connotation") ← вернуться в содержание
