#contacts {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 3;
    
    @include col100(120px 0 0 0);
    font: $groteskExtraLarge;
    font-weight: 700;
    color: $white;
    
    @include respond(mobile) {
      @include col100(32px 0 24px 0);
      font: $groteskMain;
    }
    
    p {
      margin: 0;
    }
  }
  