#contacts {
   //parent
   display: grid;
   grid-template-columns: repeat(20, 5%);
   grid-template-rows: repeat(3, auto);

  &-headline {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col100(16px 0 24px 0);
    color: $white;
  }

  &-desc {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col40(16px 0 24px 0, column);
    color: $white;
    font: $groteskMain;
  }
}