.contacts {
  &__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col40(16px 32px 24px 32px, column);
    color: $white;
    font: $fontMain;

    @include respond(mobile) {
      @include col100(16px 24px 24px 24px, column);
    }
  }
}