include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сошников — Фэтфоб',
      'Рассказ из цикла «Чужие снимки»',
      'http://soshnikov.space/img/shoots-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('чужие снимки', 'shoots')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/shoots/fatfob.md
            div.story__next
                a(href="shoots-chief.html") читать следующий эпизод →
                a(href="shoots.html#connotation") ← вернуться в содержание

