include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Все спорят о Монеточке',
      'Все сейчас спорят о Монеточке. У меня не выходят из головы две мысли насчёт её альбома и стремительного роста популярности…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/monetochka.md