include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Балет рабочего класса',
      'Незадолго до старта Чемпионата мира по футболу-2018 в издательстве «Азбука-Аттикус» вышла книга «О чём мы думаем, когда думаем о футболе», в которой британский философ Саймон Кричли деконструирует собственную любовь к игре и окружающей её атмосфере…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/critchley-football.md