include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Послушал «Недокасаемость» Гречки',
      'В июле на лейбле «IONOFF MUSIC» вышел мини-альбом Гречки «Недокасаемость». По сравнению с предыдущим релизом, ставшим популярным у российских тинейджеров, новые треки обрели иное звучание — теперь Гречка поёт не под минималистичный набор из ударных, акустической гитары и баса, а задействует укулеле, слайд-гитары и электронику…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2018/nedokasaemost.md