include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'сошников — вот мои селфи',
      'цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе девяностых',
      'http://soshnikov-writing.art/img/selfie-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 вот мои селфи
        div.profile__annotation
            p Пять лет назад, уезжая с концами из родного поволжского городка в Петербург, я случайно выбросил коробку с семейными фотографиями. Не осталось ничего: ни свадебных снимков родителей, ни моих детских фотокарточек, где я стою в белых колготах на лакированном деревянном стульчике.
            p Спустя три года после рокового переезда я решил собрать новый фотоальбом. Он получился не таким наглядным, как раньше, но искренним. В нём нет натянутых улыбок и фальшивого благополучия.
            p Вот они, мои селфи.
        div.profile__cover
            img(src="http://soshnikov-writing.art/img/selfie-cover.jpg")
        div.profile__connotation-title#connotation
            h2 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                // h2 часть первая
                a.profile__connotation-link(href='selfie-pomegranades.html') гранаты
                a.profile__connotation-link(href='selfie-clump.html') клок
                a.profile__connotation-link(href='selfie-tracksuit.html') костюм
                a.profile__connotation-link(href='selfie-relay-race.html') эстафеты
                a.profile__connotation-link(href='selfie-not-chav.html') ни пацан, ни мацан
                a.profile__connotation-link(href='selfie-park.html') парк
                a.profile__connotation-link(href='selfie-bag.html') пакет
                a.profile__connotation-link(href='selfie-debut.html') дебют
                a.profile__connotation-link(href='selfie-alien.html') инопланетянин
                a.profile__connotation-link(href='selfie-tatami.html') татами