include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'Сошников — Вот мои селфи',
      'Цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых',
      'http://soshnikov.space/img/selfie-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 Вот мои селфи
        div.profile__annotation
            p Пять лет назад, уезжая с концами из родного поволжского городка в Петербург, я случайно выбросил коробку с семейными фотографиями. Не осталось ничего: ни свадебных снимков родителей, ни моих детских фотокарточек, где я стою в белых колготах на лакированном деревянном стульчике.
            p Спустя три года после рокового переезда я решил собрать новый фотоальбом. Он получился не таким наглядным, как раньше, но искренним. В нём нет натянутых улыбок и фальшивого благополучия.
            p Вот они, мои селфи.
        div.profile__cover
            img(src="http://soshnikov.space/img/selfie-cover.jpg")
        div.profile__connotation-title#connotation
            h2 Содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                // h2 часть первая
                a.profile__connotation-link(href='selfie-pomegranades.html') Гранаты
                a.profile__connotation-link(href='selfie-clump.html') Клок
                a.profile__connotation-link(href='selfie-tracksuit.html') Костюм
                a.profile__connotation-link(href='selfie-relay-race.html') Эстафеты
                a.profile__connotation-link(href='selfie-not-chav.html') Ни пацан, ни мацан
                a.profile__connotation-link(href='selfie-park.html') Парк
                a.profile__connotation-link(href='selfie-bag.html') Пакет
                a.profile__connotation-link(href='selfie-rospechat.html') Роспечать
                a.profile__connotation-link(href='selfie-debut.html') Дебют
                a.profile__connotation-link(href='selfie-alien.html') Инопланетянин
                a.profile__connotation-link(href='selfie-tatami.html') Татами