include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Апостол юга Петербурга',
      'О сборнике рассказов Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы',
      'http://soshnikov.space/img/buksha-is-opened-inside-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/buksha-is-opened-inside.md