include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • umwelt',
      'читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('umwelt')
        div.articles__content
             p 
                | Читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира. Вы можете следить за обновлениями этой рубрики в телеграм-канале 
                a(href="http://t.me/umwelt_books") «Umwelt».
        div.list
            +list-header('2020', 'dark')
            +bookCard('https://www.hse.ru/data/2018/11/13/1141133657/%D1%81%D1%80%D0%BD%D0%B8%D1%87%D0%B5%D0%BA.jpg', ' ​Что нас ждет, когда нефть кончится?', 'К.Сонин «Когда кончится нефть и другие уроки экономики», 2019. Р.Талер «Новая поведенческая экономика», 2020. Н.Срничек «Капитализм платформ», 2019', 'Rara Avis • Артём Сошников — о поведенческой экономике, теории свободного рынка и капитализме платформ', 'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto')

            +list-header('2019', 'dark')
            +bookCard('https://cv8.litres.ru/pub/c/elektronnaya-kniga/cover_max1500/40690588-endi-merifild-lubitel-iskusstvo-delat-to-chto-lubish.jpg', '​Профессионалам тут не место', 'Э. Мерифилд «Любитель. Искусство делать то, что любишь», 2018', 'Rara Avis • О новой книге Энди Мерифилда, тяге к любительству и политической подоплеке рассказывает Артем Сошников', 'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto')
            +bookCard('https://cdn1.ozone.ru/multimedia/1025205842.jpg', '​До и после смерти', 'C. Мохов «Рождение и смерть похоронной индустрии», 2018. А.Гаванде «Все мы смертны», 2018', 'Rara Avis • О чем на самом деле рассказывают современные книги про смерть, пишет обозреватель Rara Avis Артем Сошников', 'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto')


