include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • umwelt',
      'читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('umwelt')
        div.articles__content
             p 
                | Читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира. Вы можете следить за обновлениями этой рубрики в телеграм-канале 
                a(href="http://t.me/blacktrope") «Umwelt».
        div.list
            +list-header('2020', 'dark')
            +bookCard('рассказы разных бед', 'то, что нужно было просто пережить', 'misfortunes.html')

