include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • umwelt',
      'читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('umwelt')
        div.articles__content
             p 
                | Читательский дневник о нехудожественной литературе, посвящённой проблемам современного мира. Вы можете следить за обновлениями этой рубрики в телеграм-канале 
                a(href="http://t.me/umwelt_books") «Umwelt».
        div.list
            +list-header('2020', 'dark')
            +bookCard(
                'В каждый город, в каждый книжный',
                'Umwelt',
                '«Слово пацана» Роберта Гараева — тот случай, когда острая тема перевешивает и огрехи структуры, и мозаичность повествования, и вообще всё',
                'Роберт Гараев, «Слово пацана. Криминальный Татарстан 1970-2010-х»',
                'http://umwelt-books.ru/garaev-chavs'
            )
            +bookCard(
                'Ревью в квадрате',
                'Umwelt',
                'Знаменитый философский журнал «Логос» начал выпускать рецензионное приложение, вызывающее не только эстетическое, но и натурально физическое удовольствие',
                '«Logos Review of Books» №1',
                'http://umwelt-books.ru/lrb-01'
            )
            +bookCard(
                'Расщепление смерти',
                'Umwelt',
                'Сергей Мохов снова написал книгу о смерти — и на этот раз её важность оценят не только знакомые с death studies читатели. По-хорошему, «Историю смерти» стоит прочесть каждому',
                'Сергей Мохов, «История смерти. Как мы боремся и принимаем»',
                'http://umwelt-books.ru/mokhov-death-history'
            )
            +bookCard(
                '​Что нас ждет, когда нефть кончится?',
                'Umwelt × Rara Avis',
                'Артём Сошников — о поведенческой экономике, теории свободного рынка и капитализме платформ',
                'К.Сонин, «Когда кончится нефть и другие уроки экономики» / Р.Талер, «Новая поведенческая экономика» / Н.Срничек, «Капитализм платформ»',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )

            +list-header('2019', 'dark')
            +bookCard(
                '​Профессионалам тут не место',
                'Umwelt × Rara Avis',
                '«О новой книге Энди Мерифилда, тяге к любительству и политической подоплеке рассказывает Артем Сошников»',
                'Э. Мерифилд, «Любитель. Искусство делать то, что любишь», 2018',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )
            +bookCard(
                '​До и после смерти',
                'Umwelt × Rara Avis',
                '«О чем на самом деле рассказывают современные книги про смерть, пишет обозреватель Rara Avis Артем Сошников»',
                'C. Мохов, «Рождение и смерть похоронной индустрии», 2018 / А.Гаванде «Все мы смертны», 2018',
                'https://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto'
            )

            +list-header('2018', 'dark')
            +bookCard(
                'Балет рабочего класса',
                'Umwelt',
                'Об актуальном эссе Саймона Кричли, в котором философ пытается докопаться до сути популярности футбола',
                'Саймон Кричли, «О чем мы думаем, когда думаем о футболе»',
                'http://umwelt-books.ru/critchley-football'
            )
            +bookCard(
                'Страх неизбежен',
                'Umwelt',
                'О труде Саймона Кричли, желающего преодолеть страх смерти',
                'Саймон Кричли, «Книга мёртвых философов»',
                'http://umwelt-books.ru/critchley-dead-sophists'
            )
            +bookCard(
                'Такие выборы нам не нужны',
                'Umwelt',
                'Как выглядит отличное пособие по преодолению неэффективной выборной системы',
                'Давид ван Рейбрук, «Против выборов»',
                'http://umwelt-books.ru/van-reybrouck-against-elections'
            )
            +bookCard(
                'История отчуждения',
                'Umwelt',
                'Оливия Лэнг описала хорошую историю общественного отчуждения — и не более',
                'Оливия Лэнг, «Одинокий город»',
                'http://umwelt-books.ru/lang-lonely-city'
            )
            +bookCard(
                'Стоицизм — учение будущего?',
                'Umwelt',
                'Кажется, книга Массимо Пильюччи «Как быть стоиком» вскоре породит новый общественный тренд. Вместо Гоа люди поедут в Грецию',
                'Массимо Пильюччи, «Как быть стоиком»',
                'http://umwelt-books.ru/pigliucchi-stoic'
            )


