include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline

doctype html
html
    +head(
      'сошников — вот мои селфи',
      'цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе девяностых',
      'http://soshnikov.space/img/selfie-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 чужие снимки
        div.profile__annotation
            p Сборник короткой прозы о смешных, наивных, но в целом замечательных людях. Большинство историй написаны для самиздат-сообщества «Dutch Rudder».
        div.profile__cover
            img(src="http://soshnikov.space/img/shoots-cover.jpg")
        div.profile__connotation-title#connotation
            h2 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                a.profile__connotation-link(href='shoots-serega.html') серега
                a.profile__connotation-link(href='shoots-watermelon.html') арбуз
                a.profile__connotation-link(href='shoots-book-keeper.html') бухгалтер
                a.profile__connotation-link(href='shoots-fatfob.html') фэтфоб
                a.profile__connotation-link(href='shoots-chief.html') начальник
                a.profile__connotation-link(href='shoots-hobby.html') хобби
                a.profile__connotation-link(href='shoots-sonechka.html') сонечка marmelade
                a.profile__connotation-link(href='shoots-deputy.html') депутат елистратыч
                a.profile__connotation-link(href='shoots-susi.html') доставщик суси
                a.profile__connotation-link(href='shoots-hustlers.html') хаслеры
                a.profile__connotation-link(href='shoots-brush.html') кисточка