include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline

doctype html
html
    +head(
      'Сошников — Чужие снимки',
      'Сборник короткой прозы о смешных, наивных, но в целом замечательных людях. Большинство историй написаны для самиздат-сообщества «Dutch Rudder»',
      'http://soshnikov.space/img/shoots-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 Чужие снимки
        div.profile__annotation
            p Сборник короткой прозы о смешных, наивных, но в целом замечательных людях. Большинство историй написаны для самиздат-сообщества «Dutch Rudder».
        div.profile__cover
            img(src="http://soshnikov.space/img/shoots-cover.jpg")
        div.profile__connotation-title#connotation
            h2 Содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                a.profile__connotation-link(href='shoots-serega.html') Серега
                a.profile__connotation-link(href='shoots-watermelon.html') Арбуз
                a.profile__connotation-link(href='shoots-book-keeper.html') Бухгалтер
                a.profile__connotation-link(href='shoots-fatfob.html') Фэтфоб
                a.profile__connotation-link(href='shoots-chief.html') Начальник
                a.profile__connotation-link(href='shoots-hobby.html') Хобби
                a.profile__connotation-link(href='shoots-sonechka.html') Сонечка Marmelade
                a.profile__connotation-link(href='shoots-deputy.html') Депутат Улистратыч
                a.profile__connotation-link(href='shoots-susi.html') Доставщик суси
                a.profile__connotation-link(href='shoots-hustlers.html') Хаслеры
                a.profile__connotation-link(href='shoots-brush.html') Кисточка