include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Страх неизбежен',
      'В конце прошлого года в издательстве «Рипол-Классик» вышла «Книга мёртвых философов» Саймона Кричли, рассказывающая о жизни и смерти ста девяноста мыслителей от Сократа до Ги Дебора…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/critchley-dead-sophists.md