include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Артём Сошников • Писательский дневник',
      'Маленькие эссе-размышления на заданные темы, примущественно о литературном процессе, творчестве, произведениях искусства или воспоминаниях',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('Публицистика')
        div.tabs.articles__tabs
            +pagination('diary')
        div.articles__content
             p 
                | Маленькие эссе-размышления на заданные темы, примущественно о литературном процессе, творчестве, произведениях искусства или воспоминаниях. За обновлениями можно следить
                =" "
                a(href="http://facebook.com/sayocean450") на Фейбуке.
        div.list
            +list-header('2020', 'dark')
            +bookCard(
                'Холодные зимы',
                '', '', '',
                'splean-cold-winter.html',
                '_self'
            )
            +bookCard(
                'Лутинг и шоплифтинг',
                '', '', '',
                'looting-and-shoplifting.html',
                '_self'
            )
            +bookCard(
                'О Леониде Лаврове',
                '', '', '',
                'lavrov.html',
                '_self'
            )
            +bookCard(
                'Чёрный котёнок',
                '', '', '',
                'black-kitten.html',
                '_self'
            )
            +bookCard(
                'А вокруг никого',
                '', '', '',
                'tsts-alone.html',
                '_self'
            )
            +bookCard(
                'Хайлайты 2020',
                '', '', '',
                'highlights-2020.html',
                '_self'
            )
            +bookCard(
                'Удивительное время!',
                '', '', '',
                'what-a-time.html',
                '_self'
            )
            +bookCard(
                'Ругать плохую прозу или молчать',
                '', '', '',
                'scold-or-be-silent.html',
                '_self'
            )
            +bookCard(
                'О выпуске «Лёгкой кавалерии»',
                '', '', '',
                'gravy-cavalry.html',
                '_self'
            )
            +list-header('2019', 'dark')
            +bookCard(
                '«Логос» порадовал критическим форматом',
                '', '', '',
                'logos-lenin.html',
                '_self'
            )
            +bookCard(
                'В Россию пришёл сторихантинг',
                '', '', '',
                'storyhunting.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Варенье из роз» Сарры-Марии Граник',
                '', '', '',
                'bookmate-granik.html',
                '_self'
            )
            +bookCard(
                'На «Букмейте» появились сериалы',
                '', '', '',
                'bookmate-series.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Страх вратаря перед одиннадцатиметровым» Хандке',
                '', '', '',
                'handke.html',
                '_self'
            )
            +bookCard(
                'Есть три способа чтения',
                '', '', '',
                'reading-types.html',
                '_self'
            )
            +bookCard(
                'О рассказчиках и писателях',
                '', '', '',
                'writers-and-storytellers.html',
                '_self'
            )
            +bookCard(
                'Пожалуйста, не пиши',
                '', '', '',
                'please-dont-write.html',
                '_self'
            )
            +bookCard(
                'У Сальникова есть двойник в мире музыки',
                '', '', '',
                'daite-tank.html',
                '_self'
            )
            +bookCard(
                'Прочёл «На районе»',
                '', '', '',
                'ratnikov-hood.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Шатунов»',
                '', '', '',
                'mamleev-shatuny.html',
                '_self'
            )
            +bookCard(
                'Не смог дочитать «Кикер» Хмелёва',
                '', '', '',
                'hmelev-kicker.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Школу для дураков»',
                '', '', '',
                'fool-school.html',
                '_self'
            )
            +bookCard(
                'Китайский Хэм',
                '', '', '',
                'hu-bo.html',
                '_self'
            )
            +bookCard(
                'Прочёл новый рассказ Сальникова',
                '', '', '',
                'salnikov-1904.html',
                '_self'
            )
            +bookCard(
                'Хайлайты 2019',
                '', '', '',
                'highlights-2019.html',
                '_self'
            )
            +bookCard(
                'Слишком правдоподобно',
                '', '', '',
                'too-much-real.html',
                '_self'
            )
            +bookCard(
                'Пока мой друг целовался',
                '', '', '',
                'then-my-friend-was-kissing.html',
                '_self'
            )
            +bookCard(
                'Нижний Новгород = 🖤',
                '', '', '',
                'nino.html',
                '_self'
            )
            +bookCard(
                'Слёзы на выпускном',
                '', '', '',
                'women-cry.html',
                '_self'
            )
            +bookCard(
                '«Рассказы разных бед» на Букмейте',
                '', '', '',
                'misfortunes-on-bookmate.html',
                '_self'
            )
            +bookCard(
                'Сходил на «Shortparis»',
                '', '', '',
                'shortparis.html',
                '_self'
            )
            +bookCard(
                'Послушал «Вырождение» ЦЦ',
                '', '', '',
                'tsvetova-degeneration.html',
                '_self'
            )
            +bookCard(
                'Послушал «Эдем» АИГЕЛа',
                '', '', '',
                'aigel-edem.html',
                '_self'
            )
            +bookCard(
                'Перебор с реализмом (посмотрел «Айку»)',
                '', '', '',
                'aika.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Ещё чуток, мрази!»',
                '', '', '',
                'come-on-scumbags.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Завод» Быкова',
                '', '', '',
                'factory.html',
                '_self'
            )
            +bookCard(
                'Посмотрел ​​«‘‘Сердце’’ сорок лет спустя» Евгения Голынкина',
                '', '', '',
                'heart-40-years-after.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Как выйти замуж. Инструкция»',
                '', '', '',
                'how-to-get-married.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Колясю»',
                '', '', '',
                'kolyasya.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Мир принадлежит тебе»',
                '', '', '',
                'le-monde-est-a-toi.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Без кубков и медалей»',
                '', '', '',
                'no-ribbons.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Не в форме»',
                '', '', '',
                'out-of-shape.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Сорокин трип»',
                '', '', '',
                'sorokin-trip.html',
                '_self'
            )
            +bookCard(
                'О назначении критики',
                '', '', '',
                'past-and-present-critic.html',
                '_self'
            )
            +bookCard(
                'О подражании',
                '', '', '',
                'imitation-in-prose.html',
                '_self'
            )
            +bookCard(
                'О любви к письму',
                '', '', '',
                'i-love-writing.html',
                '_self'
            )
            +bookCard(
                'О графомании',
                '', '', '',
                'first-sign-of-graph.html',
                '_self'
            )
            +bookCard(
                'Белинский — ванга',
                '', '', '',
                'belinski-vanga.html',
                '_self'
            )
            +list-header('2018', 'dark')
            +bookCard(
                'Прочли Мещанинову в ДК Газа',
                '', '', '',
                'dk-gaza.html',
                '_self'
            )
            +bookCard(
                'Писать о плохой прозе или не писать?',
                '', '', '',
                'should-you-write-about-bad-books.html',
                '_self'
            )
            +bookCard(
                'Прочёл «Йетство» Ратникова',
                '', '', '',
                'ratnikov-yetstvo.html',
                '_self'
            )
            +bookCard(
                'За что уважать Льва Данилкина',
                '', '', '',
                'danilkin-story.html',
                '_self'
            )
            +bookCard(
                'Шкловский нас утешает',
                '', '', '',
                'shklovskiy-man.html',
                '_self'
            )
            +bookCard(
                'Современная проза — не то?',
                '', '', '',
                'modern-writing-sucks.html',
                '_self'
            )
            +bookCard(
                'Слышишь «…-баттл» — беги',
                '', '', '',
                'dont-use-battle.html',
                '_self'
            )
            +bookCard(
                'Эпоха подражания',
                '', '', '',
                'remake-times.html',
                '_self'
            )
            +bookCard(
                'Шаламов и постмодерн',
                '', '', '',
                'shalamov-and-postmodern.html',
                '_self'
            )
            +bookCard(
                'Постмодерн — говно',
                '', '', '',
                'fuck-you-postmodern.html',
                '_self'
            )
            +bookCard(
                'Существует ли гиперинтерпретация?',
                '', '', '',
                'hyper-inter.html',
                '_self'
            )
            +bookCard(
                'Поподробнее о стоиках',
                '', '', '',
                'stoics.html',
                '_self'
            )
            +bookCard(
                'Нацбест и Хаски',
                '', '', '',
                'nazbest-and-rap.html',
                '_self'
            )
            +bookCard(
                'Суть селфи',
                '', '', '',
                'what-is-selfie.html',
                '_self'
            )
            +bookCard(
                'Кино и литература',
                '', '', '',
                'lit-and-films.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Довлатова»',
                '', '', '',
                'film-dovlatov.html',
                '_self'
            )
            +bookCard(
                'Лонги и шоты русской литературы',
                '', '', '',
                'long-and-shot.html',
                '_self'
            )
            +bookCard(
                'Завидую «вышке»…',
                '', '', '',
                'vyshka.html',
                '_self'
            )
            +bookCard(
                'Зачем хранить дома книги',
                '', '', '',
                'home-libraries.html',
                '_self'
            )
            +bookCard(
                'Десять лет дветыщиседьмому',
                '', '', '',
                '2007-jubilee.html',
                '_self'
            )
            +bookCard(
                'Хайлайты 2018',
                '', '', '',
                'highlights-2018.html',
                '_self'
            )
            +bookCard(
                'Фэйс моей юности',
                '', '', '',
                'my-face.html',
                '_self'
            )
            +bookCard(
                'Послушал «Мои дети не будут скучать»',
                '', '', '',
                'anacondaz-my-children.html',
                '_self'
            )
            +bookCard(
                'Все спорят о Монеточке',
                '', '', '',
                'monetochka.html',
                '_self'
            )
            +bookCard(
                'Послушал «Недокасаемость» Гречки',
                '', '', '',
                'nedokasaemost.html',
                '_self'
            )
            +bookCard(
                'Послушал «Три песни о детстве»',
                '', '', '',
                'three-songs-about.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Терапию»',
                '', '', '',
                'therapy.html',
                '_self'
            )
            +bookCard(
                'Британские сериалы и психотерапия',
                '', '', '',
                'two-british-series.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Вы умрёте или мы вернем вам деньги»',
                '', '', '',
                'you-will-die.html',
                '_self'
            )
            +bookCard(
                'Посмотрел «Кислоту»',
                '', '', '',
                'acid.html',
                '_self'
            )
            +bookCard(
                'Снисхобизм',
                '', '', '',
                'snishobism.html',
                '_self'
            )
            +bookCard(
                'Между повестью и романом',
                '', '', '',
                'between-novel-and-novelette.html',
                '_self'
            )
            +bookCard(
                'О шуме',
                '', '', '',
                'noise.html',
                '_self'
            )
            +bookCard(
                'О читательском спокойствии',
                '', '', '',
                'nervousness.html',
                '_self'
            )
            +bookCard(
                'Мигранты и кофе',
                '', '', '',
                'migrants-and-coffee.html',
                '_self'
            )
            +bookCard(
                'О тяге к воде',
                '', '', '',
                'drowned.html',
                '_self'
            )
            +bookCard(
                'После постмодерна',
                '', '', '',
                'after-postmodern.html',
                '_self'
            )
            +list-header('2017', 'dark')
            +bookCard(
                'Дудь, Бодров, Багров',
                '', '', '',
                'dud-and-bodrov.html',
                '_self'
            )
            +bookCard(
                'Нужны толстяки или нет?',
                '', '', '',
                'old-magazines.html',
                '_self'
            )
            +bookCard(
                'Зачем, Юрий Анатольич?',
                '', '', '',
                'bykov-tv-series.html',
                '_self'
            )
            +bookCard(
                'Писателей теперь больше, чем читателей',
                '', '', '',
                'too-many-writing-schools.html',
                '_self'
            )
            +bookCard(
                'Познакомился с прозой Сенчина',
                '', '', '',
                'senchin-ice.html',
                '_self'
            )
            +bookCard(
                'После первой публикации',
                '', '', '',
                'first-piblication.html',
                '_self'
            )
            +bookCard(
                'Мемы против тирании позитива',
                '', '', '',
                'memes-and-positive.html',
                '_self'
            )
            
            +bookCard(
                'Профсоюз писателей',
                '', '', '',
                'writing-unions.html',
                '_self'
            )
            +bookCard(
                'Преимущество молодых писателей',
                '', '', '',
                'young-writers-will-win.html',
                '_self'
            )
            +bookCard(
                'Прошлое и будущее Симбирска',
                '', '', '',
                'history-and-future-of-simbirsk.html',
                '_self'
            )
            +bookCard(
                'Читая данилкинского Ленина',
                '', '', '',
                'then-reading-lenin.html',
                '_self'
            )
            +bookCard(
                'Сходил на Фабра',
                '', '', '',
                'fabr.html',
                '_self'
            )
            +bookCard(
                'Набоков и ракурсы',
                '', '', '',
                'nabokov-toshnota.html',
                '_self'
            )
            +bookCard(
                'Русская литература уже не велика',
                '', '', '',
                'make-ruslit-great-again.html',
                '_self'
            )
            +bookCard(
                'Реальные хипстеры',
                '', '', '',
                'hipsters.html',
                '_self'
            )
            +list-header('2016', 'dark')
            +bookCard(
                'Кофе и метро',
                '', '', '',
                'coffee-and-metro.html',
                '_self'
            )
            +bookCard(
                'Любители и профессионалы',
                '', '', '',
                'about-writers.html',
                '_self'
            )
            +bookCard(
                'Писатели и «писатели»',
                '', '', '',
                'true-and-pseudo.html',
                '_self'
            )
            +bookCard(
                'Вертинский и кокаинетка',
                '', '', '',
                'vertinsky-cocainetka.html',
                '_self'
            )
            +bookCard(
                'Другой Мандельштам',
                '', '', '',
                'roald-mandelshtam.html',
                '_self'
            )
            

