include ../../components/head/head
include ../../components/header/header
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сошников — Хоппер',
      'Рассказ о любви в авторитарной России ближайшего будущего',
      'http://soshnikov.space/img/hopper-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/broken-mirror/hopper.md
            div.story__next
                a(href="index.html#writing") ← вернуться в содержание

