include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сходил на «Shortparis»',
      '— Слушай, помоги, а? — просит меня мужик в джинсовом костюме лет сорока, — Я вот так всё сниму. Потом поверну камеру. А ты мне рожки покажи и крикни «Шортпарии, юхуу!». Добро?…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/shortparis.md