include ../../components/head/head
include ../../components/header/header

include ../../components/list-header/list-header
include ../../components/book-card/book-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников',
      'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        div.main-info
            p
                | пишу рассказы и повести, изучаю творчество русских реалистов в проекте
                =" "
                a.index__main-info-link(href="http://chernotrop.reviews/" target="blank") чернотроп
                |, 
                a.index__main-info-link(href="http://t.me/umwelt_books" target="blank") обозреваю
                =" "
                | литературу о проблемах современности

