.main-info {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 21;
  
  @include col80(64px 56px 96px 56px);
  font: $fontExtraLarge;
  color: $black;
  
  @include respond(mobile) {
    @include col100(0 24px 48px 24px);
    font: $fontMain;
  }
}

.read-first {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 21;
}