include ../../components/head/head
include ../../components/header/header

include ../../components/list-header/list-header
include ../../components/book-card/book-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников',
      'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div#index
        div#main-info
            p
                | пишу рассказы и повести, изучаю творчество русских реалистов в проекте
                =" "
                a.index__main-info-link(href="http://chernotrop.reviews/" target="blank") чернотроп
        div#writing
            div.writing__section
                +list-header('проза', 'dark')
                +bookCard('рассказы разных бед', 'то, что нужно было просто пережить', 'misfortunes.html')
                    +bookLink('читать онлайн', 'misfortunes.html')
                +bookCard('чужие беды', 'реалистическая проза о людях, их демонах и окружающей нас боли', 'not-mine.html')
                    +bookLink('читать онлайн', 'misfortunes.html')
                +bookCard('дорогие петербуржцы', 'повесть-сериал о политическом кризисе в независимом петрограде будущего. одна неделя — один эпизод.', 'dear-citizens.html')
                    +bookLink('читать онлайн', 'dear-citizens.html')
                +bookCard('инсайд', 'два московских авантюриста и полусумасшедший профессор случайно раскручивают инсайдерский канал в Телеграме', 'inside.html')
                    +bookLink('читать онлайн', 'inside.html')
                +bookCard('вот мои селфи', 'цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе 90-х', 'selfie.html')
                    +bookLink('читать онлайн', 'selfie.html')
                +bookCard('чужие снимки', 'сборничек короткой прозы, написанный для бульварно-хулиганского общества «dutch rudder»', 'shoots.html')
                    +bookLink('читать онлайн', 'shoots.html')
            div.writing__section
                +list-header('раннее', 'dark')
                +bookCard('хоппер', 'рассказ о любви в авторитарной россии ближайшего будущего', 'hopper.html')
                    +bookLink('читать онлайн', 'hopper.html')
                +bookCard('в тае снег растаял', 'первая бумажная публикация', 'thai.html')
                    +bookLink('читать онлайн', 'thai.html')
            div.writing__section
                +list-header('стихотворения', 'dark')
                +bookCard('реверсивный побег из ульяновска в петербург', 'сборник не очень хороших стихотворений', 'bad-poems.html')
                    +bookLink('читать онлайн', 'bad-poems.html')

