include ../../components/book-block/book-block
include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'артём сошников',
        'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('dark')
    div.content
        div.main-info
            p
                | пишу рассказы и повести, изучаю творчество русских реалистов в рубрике
                =" "
                a.index__main-info-link(href="chernotrop.html") чернотроп
                |, порой
                =" "
                a.index__main-info-link(href="umwelt.html" target="blank") обозреваю
                =" "
                | литературу о проблемах современности
        div.read-first
            +pageHeadline('что почитать в первую очередь')
            div.writing__content
                +bookBlock(
                    'misfortunes', 
                    'Рассказы разных бед', 
                    'Строгая реалистическая проза о людях, их демонах и окружающей нас боли. хит «букмейта» — более 2 600 читателей, 90 отзывов, 150 цитат', 
                    'misfortunes.html', 
                    'читать онлайн'
                )
                +bookBlock(
                    'selfie', 
                    'Вот мои селфи', 
                    'Цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе девяностых. рассказы публиковались в альманахе «Взмах» и сборнике «Рукопожатие Кирпича» издательства «Symposium»', 
                    'selfie.html', 
                    'читать онлайн'
                )
                +bookBlock(
                    'dear-citizens', 
                    'Дорогие петербуржцы', 
                    'Повесть-сериал о политическом кризисе в независимом Петрограде будущего. Одна неделя — один эпизод', 
                    'dear-citizens.html', 
                    'читать онлайн'
                )