include ../../components/book-block/book-block
include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
        'Артём Сошников',
        'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
        'http://soshnikov.space/img/default.jpg',
        ''
    )
body.body_dark
    +header('')
    div.content
        div.main-info
            p
                | Пишу рассказы и повести, изучаю творчество русских реалистов, порой обозреваю литературу о проблемах современности
        div.read-first
            +pageHeadline('Что почитать в первую очередь')
            div.writing__content
                +bookBlock(
                    'misfortunes', 
                    'Рассказы разных бед', 
                    'Строгая реалистическая проза о людях, их демонах и окружающей нас боли. Селф-мейд хит «Букмейта» — более 2 600 читателей, 90 отзывов, 150 цитат', 
                    'misfortunes.html', 
                    'читать онлайн'
                )
                +bookBlock(
                    'selfie', 
                    'Вот мои селфи', 
                    'Цикл ироничной прозы о мальчике Тёме и его детстве в криминальном городе девяностых. Рассказы публиковались в альманахе «Взмах» и сборнике «Рукопожатие Кирпича» издательства «Symposium»', 
                    'selfie.html', 
                    'читать онлайн'
                )
                +bookBlock(
                    'dear-citizens', 
                    'Дорогие петербуржцы', 
                    'Повесть-сериал о политическом кризисе в независимом Петрограде будущего. Одна неделя — один эпизод', 
                    'dear-citizens.html', 
                    'читать онлайн'
                )