include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Читая данилкинского Ленина',
      'А Данилкин, конечно, мега-крутой. Впервые читаю настолько живую книгу, построенную на монографическом фундаменте. Я уже уверен, что восемьсот страниц пролетят незаметно, потому как автор очень умело смешивает политические события с занимательными подробностями, воспоминаниями, характеристиками и при этом не боится затрагивать скользкие темы вроде этнического происхождения Владимира Ильича…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2017/then-reading-lenin.md