include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Отец русского пиара',
      'Артём Сошников рассказывает о трикстере девятнадцатого века Фаддее Булгарине его вторичном романе «Иван Выжигин», который стал дико популярен благодаря передовым пиар-технологиям того времени. Правда, ненадолго…',
      'http://soshnikov.space/img/bulgarin-vizhigin-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/bulgarin.md