.book-block {
    @include col30(0 5% 3% 0, column);
    font: $fontMain;

    @include respond(mobile) {
        @include col100(0 0 32px 0, column);
    }

    &__cover {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__headline {
        @include col100(16px 8px 0 0);
        font: $fontLarge;
        color: $black;
        font-style: italic;

        @include respond(mobile) {
            @include col100(16px 24px 0 24px);
            font: $fontLargeMobile;
            font-style: italic;
        }
    }

    &__desc {
        @include col100(16px 0 0 0);
        font: $fontMain;
        color: $black;

        @include respond(mobile) {
            @include col100(8px 24px 0 24px);
            font: $fontMainMobile;
        }
    }

    &__links {
        @include col100(8px 0 0 0, column);

        @include respond(mobile) {
           @include col100(24px 24px 0 24px);
        }

        
    }

    &__button {
        @include colauto(8px 0 10px 0);
        line-height: 1;
        background-color: $white;
        color: $blue;
        border-radius: 3px;
        margin: 0 0 8px 0;
    }
}
