.book-block {
    @include col30(0 5% 3% 0, column);
    font: $fontMain;

    @include respond(mobile) {
        @include col100(0 0 48px 0, column);
    }

    a {
        color: $black;
    }

    &__cover {
        margin: 0 0 24px 0;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__headline {
        @include col100(0 0 0 0);

        @include respond(mobile) {
            font: $fontMain;
            @include col100(0 0 0 24px);
        }
    }

    &__desc {
        @include col100(0 0 24px 0);
        font: $fontSmall;

        @include respond(mobile) {
            @include col100(0 24px 24px 24px);
            font: $fontSmall;
        }
    }

    &__links {
        @include col100(0, column);

        @include respond(mobile) {
           @include col100(0 24px);
        }
        
    }

    &__button {
        @include colauto(8px 0 10px 0);
        font: $fontSmall;
        line-height: 1;
        color: $blue !important;
        padding: 0;
    }
}
