include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Да как ты смеешь?! «Анна Каренина» Льва Толстого',
      'Время идёт, роман по-прежнему не оставляет читателей равнодушными. Про Левина потихоньку забывают.',
      'http://soshnikov.space/img/how-dare-karenina-preview.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/how-dare-karenina.md