include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Послушал «Вырождение» ЦЦ',
      '​​Парни из «Црвених Цветова» выпустили на днях достаточно противоречивый альбом, но при этом записали мощную песню о домашнем насилии. Послушать новый EP «Вырождение» стоит хотя бы ради неё…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/tsvetova-degeneration.md