include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • повести',
      '',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('проза')
        div.tabs.writing__tabs
            +writingTags('novelettes')
        div.writing__content
            +bookBlock(
                'dear-citizens', 
                'Дорогие петербуржцы', 
                'Повесть-сериал о политическом кризисе в независимом Петрограде будущего. Одна неделя — один эпизод.', 
                'dear-citizens.html', 
                'читать онлайн'
            )

