include ../../components/book-card/book-card
include ../../components/book-link/book-link
include ../../components/book-block/book-block
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём Сошников • рассказы',
      '',
      'http://soshnikov.space/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'writing')
    div.content
        +pageHeadline('проза')
        div.tabs.writing__tabs
            +writingTags('stories')
        div.writing__content
            +bookBlock(
                'misfortunes', 
                'Рассказы разных бед', 
                'Строгая реалистическая проза о людях, их демонах и окружающей нас боли', 
                'misfortunes.html', 
                'читать онлайн'
            )
            +bookBlock(
                'not-mine', 
                'Чужие беды', 
                'Реалистическая проза о людях, их демонах, слабостях и проблемах', 
                'not-mine.html', 
                'читать онлайн'
            )
            +bookBlock(
                'selfie', 
                'Вот мои селфи', 
                'Цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе девяностых', 
                'selfie.html', 
                'читать онлайн'
            )
            +bookBlock(
                'shoots', 
                'Чужие снимки', 
                'Сборничек короткой прозы, написанный для бульварно-хулиганского общества «Dutch Rudder»', 
                'shoots.html', 
                'читать онлайн'
            )
        div.list
            +list-header('Рассказы вне циклов', 'dark')
            +bookCard(
                'Хоппер', 
                '', '', 
                'Рассказ о любви в авторитарной россии ближайшего будущего', 
                'hopper.html'
                )
            +bookCard(
                'В тае снег растаял', 
                '', '',
                'Первая бумажная публикация', 
                'thai.html'
                )