include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — юрка',
      'первый эпизод повести «дорогие петербуржцы»',
      'http://soshnikov.space/img/dear-citizens-og-1.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.story
            div.story__content
                +article-breadcrumb('дорогие петербуржцы', 'dear-citizens')
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/novels/dear-citizens/01-yurka.md
                div.story__next
                    a(href="dear-citizens-evgraphych.html") читать следующий эпизод →
                    a(href="dear-citizens.html#connotation") ← вернуться в содержание
