.page-headline {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col100(0 56px);
    color: $black;

    @include respond(mobile) {
        @include col100(0 24px);

        h2 {
            font: $fontMain;
        }
        
    }
}