@import "../../scss/grid";
@import "../../scss/typo";

.header {
  @include col100(0 56px, row, flex-start, center);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 48px;
  font: $fontMain;
  background-color: $white;
  
  @include respond(mobile) {
    @include col100(0 24px, row, flex-start, center);
  }
  
  a {
    color: $blue;
  }
  
  &__logo {
    @include col20(0);
    
    @include respond(mobile) {
      @include col90(0 24px 0 0, row, flex-start);
    }
    
    &-link {
      color: inherit;
      line-height: 1;
    }
  }
  
  &__menu {
    @include col80(0, row, flex-end);
    
    @include respond(tablet) {
      @include col80(0, row, flex-end);
    }
    
    @include respond(mobile) {
      display: none;
    }
    
    &-elem {
      @include colauto(0 0 0 48px);

      &_active {
        color: black;
        cursor: default;
        
      }
      
      @include respond(mobile) {
        @include colauto(0 0 0 24px);
      }
    }

    &_mobile {
      display: none;

      @include respond(mobile) {
        @include col50(0, row, flex-end);
      }
      
    }
  }
}
