include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'Сошников — Коротко о русском',
      'Цикл ироничной короткой прозы, написанной для хулиганского товарищества «dutch rudder»',
      'http://soshnikov.space/img/misfortunes-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 коротко о русском
        div.profile__annotation
            p Эти ироничные, короткие рассказы 
        div.profile__cover
            img(src="http://soshnikov.space/img/misfortunes-cover.jpg")
        div.profile__connotation-title#connotation
            h2 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                a.profile__connotation-link(href='caretaker.html') дворник
                a.profile__connotation-link(href='winters.html') зимы
                a.profile__connotation-link(href='new-gogol.html') где новый гоголь?
                a.profile__connotation-link(href='may.html') май
                a.profile__connotation-link(href='bold-man.html') лихой человек
                a.profile__connotation-link(href='adult.html') взрослая жизнь
                a.profile__connotation-link(href='web-punk.html') веб-панк
                a.profile__connotation-link(href='vip-markets.html') премиум-супермаркеты
                a.profile__connotation-link(href='dunduks.html') дундуки
                a.profile__connotation-link(href='umbrella.html') зонт
                a.profile__connotation-link(href='post-office.html') почта россии
                a.profile__connotation-link(href='homeless.html') как бомж
                a.profile__connotation-link(href='fashion.html') модник
                a.profile__connotation-link(href='burial-ground.html') кладбон
                a.profile__connotation-link(href='kvn.html') квн
                a.profile__connotation-link(href='molko.html') жзл: брайан молко
                a.profile__connotation-link(href='pelevin.html') жзл: пелевин
                a.profile__connotation-link(href='prilepin.html') жзл: прилепин
                a.profile__connotation-link(href='sunflower-seeds.html') семечки
                a.profile__connotation-link(href='susanna.html') сюзанна
                a.profile__connotation-link(href='2007.html') 2007
                
