include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Ревизия Шаламова',
      'Материал шаламовской прозы, конечно, ужасен. Речь не о качестве, нет — он ужасен именно потому, что не вызывает у читателя ничего, кроме ужаса. Сила прозы вообще измеряется физиологически — если обнаруживаешь себя ночью на кухне с коркой хлеба в левой руке и книгой в правой — значит, проза удалась…',
      'http://soshnikov.space/img/mikhalik-comet-preview.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/mikhalik-comet.md