include ../../components/book-card/book-card
include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/page-headline/page-headline
include ../../components/pagination/pagination

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников • писательский дневник',
      'ну а здесь я ною, как в твиттере, а также размышляю о жизни, любви и смерти',
      'http://soshnikov-writing.art/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.content
        +pageHeadline('публицистика')
        div.tabs.articles__tabs
            +pagination('diary')
        div.articles__content
             p 
                | Ну а здесь я ною, как в твиттере, а также размышляю о жизни, любви и смерти. Вы можете следить за обновлениями этой рубрики у меня
                a(href="http://t.me/blacktrope") на Фейбуке.
        div.list
            +list-header('2020', 'dark')

