include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Справитесь и вы',
      'Пронзительные рассказы Наталии Мещаниновой вселяют в людей не только ужас, но и надежду',
      'http://soshnikov.space/img/meshchaninova-stories-preview.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('рецензии', 'articles')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/meshchaninova-stories.md