include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Ругать плохую прозу или молчать?',
      'Дописал дебютный роман и разослал рукопись в несколько издательств. Прежде, чем ехидно произнести что-то вроде «угу, держи нас в курсе, парень», дослушайте 😁',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2020/scold-or-be-silent.md