include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Посмотрел «Без кубков и медалей»',
      'В прошлом году группа молодых режиссёров из студии «Stereotactic» сняли альманах «Без кубков и медалей» — три истории о любительском футболе из разных уголков нашей страны. Фильм получился настолько трогательным и атмосферным, что я пересмотрел его трижды и с тех пор советую даже тем, кто футболом не увлекается вообще — потому что через любовь к игре альманах раскрывает целый ворох вопросов и насущных проблем…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/no-ribbons.md