include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Сошников — Вингер',
      'Из цикла «Чужие беды»',
      'http://soshnikov.space/img/not-mine-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('чужие беды', 'not-mine')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/not-mine/winger.md
            div.story__next
                a(href="camel.html") читать cледующий рассказ рассказ «верблюд» →
                a(href="not-mine.html#connotation") ← вернуться в содержание

