.article {
  &__content {
    grid-column-start: 2;
    grid-column-end: 12;

    text-transform: none;
    font: $fontMain;

    @include respond(mobile) {
      grid-column-start: 1;
      grid-column-end: 20;

      @include col100(0 24px, column);
    }

    h1 {
      margin: 0 0 48px 0;
      text-transform: lowercase;

      + .article__annotation {
        margin: -24px 0 48px 0;
      }
    }

    h2 {
      margin: 24px 0 32px 0;
      text-transform: lowercase;

      + .article__annotation {
        margin: -16px 0 32px 0;
      }
    }

    a {
      color: $blue;
    }

    &__annotation {
      font: $fontSmall;
      text-transform: lowercase;
    }

    &__next {
      @include col100(0 0 24px 0, row, space-between);
      font: $fontMain;

      @include respond(mobile) {
        @include col100(0 0 24px 0, column, space-between);
      }

      a {
        color: $blue;

        @include respond(mobile) {
          margin: 0 0 24px 0;
        }
      }
    }

    &__image {
      margin: 24px 0 0 0;
      width: 50%;

      img {
        width: 50%;

        @include respond(mobile) {
          margin: 0;
          width: 100%;
        }
      }

      @include respond(mobile) {
        margin: 14px -32px 0 0;
        width: 100%;
      }

      &-caption {
        margin: 4px 0 24px 0;
        font: $fontSmall;
        color: $black;

        @include respond(mobile) {
          margin: 4px 0;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }

  &__sidebar {
    grid-column-start: 14;
    grid-column-end: 20;
    
    @include col100(32px 0 0 0);

    text-transform: none;

    img {
      width: 100%;
    }

    figure {
      figcaption {
        font: $fontSmall;
      }
    }
  }
}
