@import "grid";
@import "colors";
@import "typo";

html {
  scroll-behavior: smooth;
}

body {
  padding: 80px 0 32px 0;
  margin: 0;
  
  @include respond(mobile) {
    padding: 80px 0 24px 0;
    height: 100vh;
  }
}

p {
  margin: 0 0 24px 0;
  
  @include respond(mobile) {
    margin: 0 0 16px 0;
  }
}

hr {
  border: 2px dashed $blue;
  width: 24px;
  margin: 16px 0 24px 0;
}

ol {
  margin: 0 0 24px 0;
}

.content {
  //parent
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(3, auto);
}

.stories {
  &__content {
    grid-column-start: 1;
    grid-column-end: 21;
    
    @include col100(0 56px 56px 56px, row);
    flex-wrap: wrap;

    @include respond(mobile) {
      @include col100(16px 0 0 0, column);
    }
  }
}

.tabs {
  grid-column-start: 1;
  grid-column-end: 21;

  @include col100(0 32px 32px 32px);

  @include respond(mobile) {
    @include col100(8px 24px 16px 24px);
  }
}

.list {
  grid-column-start: 1;
  grid-column-end: 21;
  @include col100(0 32px, column);

  @include respond(mobile) {
    @include col100(0 24px, column);
  }

  h2 {
    margin: 0 0 6px 0;
  }
}

blockquote {
  color: darken($blue, 16%);
  margin: 8px 0;
  
  @include respond(mobile) {
    margin: 4px 12px;
  }
}

code {
  @include colauto(8px 16px);
  border-radius: 4px;
  background-color: darken($white, 5%);
  font: $fontMain;
  margin: 0 0 8px 0;
}

.code_right {
  justify-content: end;
}

.nowrap {
  white-space: nowrap;
}
