.profile {
  display: grid;
  grid-template-columns: auto 10% auto 10% 15%;
  grid-template-rows: auto 64px auto;
  padding: 0 56px;
  
  @include respond(mobile) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    padding: 0 24px;
  }
  
  &__title {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  &__annotation {
    grid-column-start: 3;
    grid-row-start: 1;
    font: $fontSmall;
    padding-top: 8px;
    
    @include respond(mobile) {
      grid-column-start: 1;
      grid-row-start: 2;
      margin: 0 0 24px 0;
    }
  }
  
  &__cover {
    grid-column-start: 5;
    grid-row-start: 1;
    justify-self: end;
    @include col100(0, column);
    
    @include respond(mobile) {
      display: none;
    }
    
    img {
      width: 100%;
    }
  }
  
  &__connotation {
    &-title {
      grid-column-start: 1;
      grid-row-start: 3;
    }
    
    &-contents {
      grid-column-start: 3;
      grid-row-start: 3;
      
      @include respond(mobile) {
        grid-column-start: 1;
        grid-row-start: 4;
      }
    }
    
    &-section {
      @include col100(0 0 48px 0, column);
      
      @include respond(mobile) {
        @include col100(0 0 16px 0, column);
      }
    }
    
    &-link {
      color: $blue;
      background-image: linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 1px, $blue 1px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100px);
      font: $fontLarge;
      margin-bottom: 12px;
      
      &_disabled {
        color: $black;
        background-image: none;
      }
      
      @include respond(mobile) {
        font: $fontMain;
      }
    }
  }
}
