@import "colors";

$fontSmall: 17px/30px 'KTR', 'PT Serif' Georgia, serif;
$fontMain: 20px/32px 'KTR', 'PT Serif', Georgia, serif;
$fontLarge: 32px/48px 'KTR', 'PT Serif', Georgia, serif;
$fontExtraLarge: 48px/70px 'KTR', 'PT Serif', Georgia, serif;

a {
  color: $blue;
  text-decoration: none;
}

h1 {
  font: $fontExtraLarge;
  margin: 0 0 32px 0;
  
  @include respond(mobile) {
    font: $fontLarge;
    margin: 0 0 16px 0;
  }
}

h2 {
  font: $fontLarge;
  margin: 0 0 24px 0;

  @include respond(mobile) {
    font: $fontLarge;
    margin: 0 0 16px 0;
  }
}

h3 {
  font: $fontMain;
  font-weight: bold;
  margin: 0 0 8px 0;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: url('../fonts/pt-root-ui-regular.eot');
  src: url('../fonts/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-regular.woff2') format('woff2'),
  url('../fonts/pt-root-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Bold';
  src: url('../fonts/pt-root-ui-bold.eot');
  src: url('../fonts/pt-root-ui-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-bold.woff2') format('woff2'),
  url('../fonts/pt-root-ui-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KTR';
  src: url('../fonts/ktr.woff');
  src: url('../fonts/ktr.woff?#iefix') format('embedded-opentype'),
  url('../fonts/ktr.woff2') format('woff2'),
  url('../fonts/ktr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
