@import "colors";

$fontSmall: 14px/20px 'EB Garamond', 'Arial', Georgia, serif;
$fontMedium: 20px/23px 'EB Garamond', 'Arial', Georgia, serif;
$fontMain: 24px/32px 'EB Garamond', 'Arial', Georgia, serif;
$fontLarge: 32px/40px 'EB Garamond', 'Arial', Georgia, serif;
$fontLargeMobile: 24px/30px 'EB Garamond', 'Arial', Georgia, serif;
$fontExtraLarge: 48px/56px 'EB Garamond', 'Arial', Georgia, serif;

a {
  text-decoration: none;
  color: $blue;
}

h1 {
  font: $fontExtraLarge;
  margin: 0;
  
  @include respond(mobile) {
    font: $fontLarge;
  }
}

h2 {
  font: $fontLarge;
  margin: 0;
}

h5 {
  font: $fontSmall;
  letter-spacing: 1px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: url('../fonts/pt-root-ui-regular.eot');
  src: url('../fonts/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-regular.woff2') format('woff2'),
  url('../fonts/pt-root-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Bold';
  src: url('../fonts/pt-root-ui-bold.eot');
  src: url('../fonts/pt-root-ui-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-bold.woff2') format('woff2'),
  url('../fonts/pt-root-ui-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KTR';
  src: url('../fonts/ktr.woff');
  src: url('../fonts/ktr.woff?#iefix') format('embedded-opentype'),
  url('../fonts/ktr.woff2') format('woff2'),
  url('../fonts/ktr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
