include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'Сошников — Дорогие петербуржцы',
      'Повесть-сериал о политическом кризисе в независимом Петрограде будущего',
      'http://soshnikov.space/img/dear-citizens-og.jpg',
      'story'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 Дорогие петербуржцы
        div.profile__annotation
            p Мировой финансовый кризис, революция и гражданская война привели россию к эпохе новой раздробленности. В независимом петрограде коренные жители лишены всех прав и привилегий, городом управляют провинциалы — они разделили территорию на независимые общины с прямой демократией и натуральным товарообменом.
            p Я предлагаю вам погрузиться в новый мир через семью председателя богатырской общины, их друзей, врагов и соперников.
            p Повесть выходит в формате сериала. одна неделя → один эпизод.
        div.profile__cover
            img(src="http://soshnikov.space/img/dear-citizens-cover.jpg")
        div.profile__connotation-title#connotation
            h2 Содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                h3 Часть первая
                a.profile__connotation-link(href='dear-citizens-yurka.html') Юрка
                a.profile__connotation-link(href='dear-citizens-evgraphych.html') Евграфыч
                a.profile__connotation-link(href='dear-citizens-alina.html') Алина
                a.profile__connotation-link(href='dear-citizens-milts.html') Мильц
                a.profile__connotation-link(href='dear-citizens-timurich.html') Владимир Тимурович
                a.profile__connotation-link(href='dear-citizens-tolik.html') Толик
            div.profile__connotation-section
                h3 Часть вторая
                a.profile__connotation-link.profile__connotation-link_disabled(href='dear-citizens.html') Отец Михаил → coming soon

