include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'сошников — дорогие петербуржцы',
      'повесть-сериал о политическом кризисе в независимом петрограде будущего',
      'http://soshnikov-writing.art/img/dear-citizens-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 дорогие петербуржцы
        div.profile__annotation
            p мировой финансовый кризис, революция и гражданская война привели россию к эпохе новой раздробленности. в независимом петрограде коренные жители лишены всех прав и привилегий, городом управляют провинциалы — они разделили территорию на независимые общины с прямой демократией и натуральным товарообменом.
            p я предлагаю вам погрузиться в новый мир через семью председателя богатырской общины, их друзей, врагов и соперников.
            p повесть выходит в формате сериала. одна неделя → один эпизод.
        div.profile__cover
            img(src="http://soshnikov-writing.art/img/dear-citizens-cover.jpg")
        div.profile__connotation-title#connotation
            h2 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                h2 первая часть
                a.profile__connotation-link(href='dear-citizens-yurka.html') юрка
                a.profile__connotation-link(href='dear-citizens-evgraphych.html') евграфыч
                a.profile__connotation-link(href='dear-citizens-alina.html') алина
                a.profile__connotation-link(href='dear-citizens-milts.html') мильц
                a.profile__connotation-link(href='dear-citizens-failure.html') поломка
            div.profile__connotation-section
                h2 вторая часть
                a.profile__connotation-link.profile__connotation-link_disabled(href='dear-citizens.html') синий час → 04.05

