include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Нижний Новгород = 🖤',
      'Хоть до творчества Максима Горького в моём реалистическом марафоне ещё далеко, я ни минуты не сомневался, где же отметиться в Нижнем Новгороде…',
      'http://soshnikov.space/img/default.jpg',
      'story'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/nino.md