include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'О назначении критики',
      'На «Чернотроп» подписаны авторы литературных телеграм-каналов, которых за какие-то грехи всё чаще обзывают блогерами. Что ж, не лишним будет поговорить и о назначении литературной критики по Белинскому…',
      'http://soshnikov.space/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.story
        div.story__content
            +article-breadcrumb('черри-эссе', 'cherry-esse')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/cherry-esse/2019/past-and-present-critic.md