.menu {
  &__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 21;

    @include col100(48px 32px 24px 32px, column, flex-start, center);
    font: $groteskLarge;

    a {
      margin: 0 0 24px 0;
    }
  }
}